.overview{
margin: 1rem .5rem;
}

/* COLORS */
.red, .yellow, .blue, .green, .violet, .orange, .purple, .yellow-green, .blue-green, .blue-violet, .red-orange, .beige, .gray{
    transition: all 0.3s ease-in-out;
    padding: .2rem;
    border-radius: 15%;
}

.red:hover, .yellow:hover, .violet:hover, .orange:hover, .yellow-green:hover, .blue-green:hover, .red-orange:hover, .beige:hover, .gray:hover{
    background-color: var(--fontcolor);
}

.blue:hover, .purple:hover, .green:hover, .blue-violet:hover{
    background-color: whitesmoke;
}

.red{
color: red;
}

.yellow{
    color: yellow;
}

.blue{
    color: blue;
}

.green{
    color: green;
}

.violet{
    color: violet;
}

.orange{
    color: orange;
}

.blue-violet{
    color: blueviolet;
}

.yellow-green{
    color: yellowgreen;
}

.blue-green{
    color: rgb(0,206,200); 
}

.red-orange{
    color: orangered;
}

.gray{
    color: gray;
}

.beige{
    color: #cfb997;
}

.purple{
    color: purple;
}

.top-link{
    position: fixed;
    text-decoration: none;
    color: whitesmoke;
    bottom: 2rem;
    right: 2rem;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(57, 57, 57);
    padding: .5rem;
    border-radius: 10%;
}

