.page-title{
    font-size: 250%;
    padding: .5em;
    margin: .5em; 
    text-align: center;
}

.bio{
    font-size: 140%; 
    margin: 1em; 
    text-align: center;
}

.contact{
    text-align: center;
    font-size: 130%; 
}

span{
    padding: .2em; 
}