/* VARIABLES */

:root{
    --fontfamily: 'rubik', 'roboto', sans-serif; 
    --fontsize: 14px; 
}

/* LIGHT/DARK MODE */

:root, html[data-theme='light']{
  --lightoff: flex; 
  --lighton: none; 
  --headerfontcolor: #fefefe;
  --bodyfontcolor: #393939;  
  --bgcolor:  	#fffcf8; 
  --accent1: #b6b2ab; 
  --accent2: #ffe1fd; 
  --accent3: #ce4f92; 
  --boxshadow: 0 15px 20px rgba(0, 0, 0, 0.2); 
}

html[data-theme='dark']{
  --lightoff: none; 
  --lighton: flex; 
  --bgcolor: #171717; 
  --headerfontcolor: #efefef; 
  --bodyfontcolor: #fefefe;
  --accent1: #2c2c2c; 
  --accent2: #ef72e6; 
  --accent3: #ce4f92; 
  --boxshadow: 0 15px 20px rgba(44, 44, 44, .5); 
}

html.theme-transition, html.theme-transition *, html.theme-transition *::before, html.theme-transition *::after{
  transition: 0.3s; 
  transition-delay: 0.3s;
}

@keyframes lightswitch {
  50% {
    transform: scaleX(-1);
  }
}



#theme-toggle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
  line-height: 0.1;
}

.icon--moon {
  transition-delay: 200ms;
  color: #b4b4b4;
}

.icon--sun {
  transform: scale(0);
  color: #ffa500;
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}







#lightoff, #lighton{
  cursor: pointer;
  font-size: 150%; 
  position: absolute; 
  transition: color 0.3s ease-in-out; 
}

#lightoff{
  display: var(--lightoff); 

}

#lighton{
  display: var(--lighton);
}

#lightoff:hover, #lighton:hover{
  color: var(--accent3); 
    animation: lightswitch 0.75s 1; 
}



/* FONT TOGGLES */
#small{
  font-size: 14px; 
}

#medium{
  font-size: 18px; 
}

#large{
  font-size: 22px; 
}

/* TIPPY TOOLTIPS */

.tippy-box[data-theme~='custom']{
  background-color: var(--accent3);
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--accent3);
}
.tippy-box[data-theme~='custom'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--accent3);
}
.tippy-box[data-theme~='custom'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--accent3);
}
.tippy-box[data-theme~='custom'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--accent3);
}


/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  /* added styles */
  font-family: var(--fontfamily);
  font-size: var(--fontsize);
  scroll-behavior: smooth;
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
  /* added styles */
  background-color: var(--bgcolor);
  color: var(--bodyfontcolor);
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* ADDED STYLES/RESETS */

ul {
    list-style: none;
    text-decoration: none;
}


p, h1, h2, h3, h4, h5, h6, img, iframe, table, article{
  margin: 1em; 
  padding: .3em;
}

/* HEADER NAVIGATION */

header{
    margin: 0; 
    padding: 0; 
    background-color: var(--accent1);
    box-shadow: var(--boxshadow);
    font-size: 110%; 
    color: var(--headerfontcolor); 
}

.nav::after{
    content: ""; 
    display: block; 
    clear: both;
}

.nav ul{
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%; 
    height: 8vh; 
    z-index: 1000;
}

.nav > ul{
   display: flex; 
   align-items: center;
}

.nav li{
    float: left; 
    position: relative;
    padding: .3em; 
}

.nav li a{
    display: block; 
    color: var(--headerfontcolor); 
    transition: color 0.3s ease-in-out; 
}

.nav li a:hover{
  color: var(--bodyfontcolor); 
}

.nav li, .nav > li > a{
    transition: all 0.3s ease-in-out;
}

.nav li:hover, .nav > li > a:hover{
    background-color: var(--accent2);
    color: var(--bodyfontcolor); 
    padding: 0.5em; 
}

#animate-dropdown, #photoshop-dropdown{
    position: absolute; 
    top: 100%; 
    text-align: center;
     margin-left: -.4em; 
}

ul#animate-dropdown li, ul#photoshop-dropdown li{
    float: none; 
    background-color: var(--accent1);
    font-size: 95%; 
    transition: all 0.3s ease-in-out;
}

li#animate ul, li#photoshop ul{
    position: absolute;
    display: none; 
}

li#animate:hover ul, li#photoshop:hover ul{
    display: block; 
}

ul#animate-dropdown > li:hover, ul#photoshop-dropdown > li:hover{
    background-color: var(--accent2);
}

.dropdown-arrow{
    transition: transform 0.3s ease-in-out; 
}

li#animate:hover #animate-arrow, li#photoshop:hover #photoshop-arrow{
    transform: rotate(180deg);
}

